//logo
.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 1.625em;
  line-height: 1.29;
  margin-right: 94px;
  padding-top: 0.92em;
  padding-bottom: 0.92em;
  color: $accent-2;
}
.logo__color--header {
  color: $accent-3;
}
.logo__color--footer {
  color: $accent-1;
}
