.section__hero {
  align-items: center;
  padding-top: 5.875em;
  padding-bottom: 5.875em;
}

.hero-title {
  display: none;
}
.filter-list {
  display: flex;
  margin-bottom: 3.125em;
  justify-content: center;
}
