.structure {
  padding-top: 94px;
}

.structure-title {
  display: none;
}
.structure-list {
  display: flex;
}
.structure-list {
  column-gap: 30px;
}

.structure-icon {
  background-color: $background-col-2;
  margin-bottom: 30px;
  min-width: 270px;
  min-height: 120px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.structure-icon__color {
  fill: currentColor;
}
.structure-heading__title {
  color: $title-text-color;
  margin-bottom: 0.75em;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.structure-descpiption {
  color: $primary-text-color;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
